.auth{
  width: 100%;
  height: 80vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &__loading{
    position: absolute;
    opacity: 0.75;

    & img{
      width: 10rem;
    }
  }
}