.chatModal{

  &__close{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;

    & button{
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }


}