.roomNames{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  & li {
    margin-bottom: 0.75rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding:0.5rem 5rem;
    border-radius: 0.5rem;

    &:hover{
      background-color: #053c72;
      color: white;
    }
  }
}