.room{
  height: 100vh;
  &__container{
    display: flex;
    height: calc(100vh - 3rem);
    &__sidebar{
      flex: 0.20;
      height: 100%;
      background-color: #1976D2;
    }
    &__chat{
      flex: 0.8;
      background-color: salmon;
    }
  }
}